body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.monthlycard_wrapper {
  border: 1px solid #ddd;
}

.monthlycard {
  width: 320px;
  height: 320px;
  font-family: "Noto Sans Tangsa", sans-serif;

  background-color: white;
  color: black;

  display: flex;
  justify-content: center;
  align-items: center;

  .labels {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 220px;

    .month_text {
      font-weight: 700;
      font-size: 20px;
    }

    .month_number {
      font-weight: 700;
      font-size: 110px;
    }

    .year {
      font-weight: 700;
      font-size: 20px;
    }
  }
}
